body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav > .name p {
  margin-top: 30px;
  font-size: 25px;
  color: white;
  text-align: center;
}

.sidenav button {
  filter: invert(100%);
  border: 0;
  display: block;
  margin: 50px;
  width: 60px;
  height: 60px;
}

.sidenav button:hover {
  background-color: #666666;
  filter: invert(20%);
}

.content-title {
  margin-bottom: 2rem;
}

.request-item {
  width: 650px;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  max-width: 800px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
