extends layout

block content-title
  h1 Inbox: Requests I received

block content
  .container
    .row
      .col-1
        .mt-1 From
      .col  
        .btn-group(data-toggle="buttons")
          button.btn.btn-outline-secondary.active(type='button', autofocus='autofocus') Validated HR
          button.btn.btn-outline-secondary(type='button') All
    .row.mt-2
      .col-1
        .mt-1 Status
      .col  
        .btn-group(data-toggle="buttons")
          button.btn.btn-outline-secondary.active(type='button', autofocus='autofocus') Pending
          button.btn.btn-outline-secondary(type='button') Granted
          button.btn.btn-outline-secondary(type='button') Rejected
    .row.mt-2#request-list
      .list-group
        .list-group-item.request-item.container
          .row
            .logo.col-sm-2
              img.request-item-image#logo(src='https://developers.google.com/identity/images/g-logo.png')
            .fromwhere.col-sm-7
              .company.row-sm-8
                p#company-name Google Inc
              .position.row-sm-4
                p#position Senior Recruiter
            .btns.col-sm-3
              button.btn.btn-success#btn(type='button') Accept
              button.btn.btn-danger#btn(type='button') Reject
        .list-group-item.request-item
          .row
            .logo.col-sm-2
              img.request-item-image#logo(src='https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png')
            .fromwhere.col-sm-7
              .company.row-sm-8
                p#company-name Facebook Inc
              .position.row-sm-4
                p#position Senior Recruiter
            .btns.col-sm-3
              button.btn.btn-warning#btn(type='button') granted

