extends layout

block content-title
  h1 Welcome to #{title}!

block content
  h3#description A next-gen secure, trustworthy and profitable job application marketplace.

  button.btn.btn-outline-primary#signin-btn(type='button', onclick="location.href='/signin'") Sign in
