extends layout

block content-title
  h1 Outbox: Request I sent

block content
  .container
    .row.mt-2
      .col-1
        .mt-1 Status
      .col  
        .btn-group(data-toggle="buttons")
          button.btn.btn-outline-secondary.active(type='button', autofocus='autofocus') Pending
          button.btn.btn-outline-secondary(type='button') Granted
          button.btn.btn-outline-secondary(type='button') Rejected
    .row.mt-2#request-list
      .list-group
        .list-group-item.request-item.container
          .row
            .logo.col-sm-2
              img.request-item-image#logo(src='https://ksr-ugc.imgix.net/photos/416/cmu-logo-b_220px.original.png?w=220&h=220&fit=crop&v=&auto=format&q=92&s=ef14b9ed4f24ca33626b988a0f69a287')
            .fromwhere.col-sm-7
              .company.row-sm-8
                p#company-name Carnegie Mellon University
              .position.row-sm-4
                p#position Pascal (student)
            .btns.col-sm-3
              button.btn.btn-success#btn(type='button') Accepted
        .list-group-item.request-item
          .row
            .logo.col-sm-2
              img.request-item-image#logo(src='https://ksr-ugc.imgix.net/photos/416/cmu-logo-b_220px.original.png?w=220&h=220&fit=crop&v=&auto=format&q=92&s=ef14b9ed4f24ca33626b988a0f69a287')
            .fromwhere.col-sm-7
              .company.row-sm-8
                p#company-name Carnegie Mellon University
              .position.row-sm-4
                p#position Ryne (student)
            .btns.col-sm-3
              button.btn.btn-warning#btn(type='button') Pending

